* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.img1 {
  width: 100%;
  height: 100vh;

  background-image: url("london.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-attachment: fixed;
}

.content1 {
  color: white;
  font-size: 5em;
  border: 3px solid grey;
  padding: 10px 10px;
  border-radius: 20px;
  text-align: center;
}
.content1:hover {
  animation: enlarge 3s cubic-bezier(0, 1.17, 0.93, 0.38);
}

.sec1 {
  padding: 20px 20px;
  background-color: aliceblue;
}

.sec1 h2 {
  text-align: center;
  padding: 10px 0px;
}

.img2 {
  background-image: url("paris.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
}

.content2 {
  color: white;
  font-size: 5em;
  border: 3px solid grey;
  padding: 10px 10px;
  border-radius: 20px;
}
.content2:hover {
  animation: enlarge 3s cubic-bezier(0, 1.17, 0.93, 0.38);
}

.sec2 {
  padding: 20px 20px;
  background-color: aliceblue;
}

.sec2 h2 {
  text-align: center;
  padding: 10px 0px;
}
.img3 {
  background-image: url("tokyo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
}

.content3 {
  color: white;
  font-size: 5em;
  border: 3px solid grey;
  padding: 10px 10px;
  border-radius: 20px;
}
.sec3 {
  padding: 20px 20px;
  background-color: aliceblue;
}
.sec3 h2 {
  text-align: center;
  padding: 10px 0px;
}
.content3:hover {
  animation: enlarge 3s cubic-bezier(0, 1.17, 0.93, 0.38);
}
.img4 {
  background-image: url("newyork.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
}

.content4 {
  color: white;
  font-size: 5em;
  border: 3px solid grey;
  padding: 10px 10px;
  border-radius: 20px;
}
.sec4 {
  padding: 20px 20px;
  background-color: aliceblue;
}
.sec4 h2 {
  text-align: center;
  padding: 10px 0px;
}
.content4:hover {
  animation: enlarge 3s cubic-bezier(0, 1.17, 0.93, 0.38);
}
footer {
  text-align: center;
  background-color: rgb(109, 131, 255);
  padding: 30px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  margin: 10px 0px 0px 0px;
}

footer a {
  color: white;
  text-decoration: none;
  padding: 0px 5px;
}

@keyframes enlarge {
  0% {
    font-size: 5em;
    background-color: transparent;
  }
  100% {
    font-size: 6em;
    background-color: gray;
  }
}

@media only screen and (max-width: 800px) {
  .content1 {
    font-size: 30px;
    border-radius: 5px;
  }
  .content2 {
    font-size: 30px;
    border-radius: 5px;
  }
  .content3 {
    font-size: 30px;
    border-radius: 5px;
  }
  .content4 {
    font-size: 30px;
    border-radius: 5px;
  }
  .img1 {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .img2 {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .img3 {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .img4 {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
